build
dist
storybook-static
apps/realty-ai-api
apps/tictactoe-api
apps/shift-api
apps/shift-ui
apps/telehealth-api
apps/telehealth-ui

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
