# Server Configuration
PORT=3004
NODE_ENV=development

# PostgreSQL Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=54324
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DB=telehealth_matching
